<!doctype html>
<html>
  <head>
    <!-- Style and javascript links -->
  </head>
  <body>
    <!-- Your content here! -->
    <h1>DB Test</h1>
    <%#= @client %>
    <%= @current_track %>
    <%# <%= @user.spotify_hash %> 
  </body>
</html>